@font-face {
  font-family: "Inconsolata";
  src: url("../static/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "BalsamiqSans";
  src: url("../static/fonts/BalsamiqSans-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("../static/fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "ChakraPetch";
  src: url("../static/fonts/ChakraPetch-Medium.ttf");
}

@font-face {
  font-family: "Audiowide";
  src: url("../static/fonts/Audiowide-Regular.ttf");
}


body {
  background: var(--color0);
  margin: 0 auto;
  padding: 0;
  font-family: "ChakraPetch", serif;
  /* FOR CAN'T SELECT TEXT*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

a {
  color: var(--color5);
  text-decoration: none;
}

a:hover {
  color: var(--color4);
}

.footer {
  margin: auto 0 0 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-body {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* Default Color Settings */
.blurEffect {
  -webkit-filter: blur(5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.default-btn{
  background-color: var(--color5);
  color: var(--color1);
  border-radius: 10px;
  width: 100px;
  padding: 0;
}

.default-btn-2{
  background-color: var(--color0);
  color: var(--color5);
  border: 1px solid var(--color6);
  border-radius: 10px;
  width: 100px;
  padding: 0;
}
.default-btn-2:hover{
  color: var(--color5);
}

.default-btn:active{
  background-color: var(--color4);
  color: var(--color3);
  border-radius: 10px;
  width: 100px;
  padding: 0;
}

.default-btn-2:active{
  background-color: var(--color4);
  color: var(--color3);
  border-radius: 10px;
  width: 100px;
  padding: 0;
}

.default-inp {
  width: 300px;
  margin: 10px;
  background-color: var(--color2);
  color: var(--color5);
}


/* #202124 #303134 #969BA1 #BCC0B9 */
:root {
  --color0: #1e1f21;
  --color1: #202124;
  --color2: #303134;
  --color3: #525659;
  --color4: #BCC0B9;
  --color5: #f7df02;
  --color6: #b8a600;
  --color7: #7d752f;

}
